{#
/**
 * @file indicator.html.twig
 * Default theme implementation to present Indicator data.
 *
 * This template is used when viewing Indicator pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_indicator()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('indicator') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
